{% extends 'base.html' %}

{% block content %}
<div class="my-3 d-flex justify-content-between">
    <p class="mb-0 py-2">All of your submissions.</p>
    <a class="p-2 border rounded" href="{% url 'logout' %}">Logout</a>
</div>
{% for submission in submissions %}
  <div>
    <a href="{% url 'submission_detail' submission.id %}">
      <p class="border rounded p-2">
        <a href="{% url 'post_detail' submission.post.id %}">{{ submission.post }}</a> -- {{ submission.date }}
      </p>
    </a>
  </div>
{% endfor %}
{% endblock content %}